.sendButton {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: #282c34;

}

.success{
outline-color: green;
}